@import "nullstyle.css";
@import url(https://fonts.googleapis.com/css?family=Fraunces:200,700,900,200italic,900italic&font-display=swap);

@font-face {
	font-family: "Friz Quadrata";
	src: url(../fonts/FrizQuadrataCTT.woff) format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Friz Quadrata";
	src: url(../fonts/FrizQuadrataCTT\ Bold.woff) format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

.wrapper {
	width: 1200px;
	margin: 0px auto;
	font-family: "Fraunces";
	min-height: 100%;
}
.wrapper h2 {
	color: rgb(121, 168, 26);
	font-size: 50px;
	text-transform: capitalize;
	font-weight: 900;
	margin: 50px 0px 0px 0px;
}
.header {
	margin: 30px 0px 0px 0px;
}
.menu {
	height: 50px;
	border: 3px solid #000;
	box-shadow: inset 5px 5px 10px #000, inset -5px -5px 10px #000, inset 5px 3px 15px rgb(236, 253, 0),
		inset -5px -3px 15px rgb(236, 253, 0);
}
.list li {
	display: inline-block;
	font-size: 20px;
	padding: 10px 19.2px;
	border-right: 3px dotted #000;
	text-transform: uppercase;
	font-weight: 700;
}
.list a {
	color: rgb(56, 110, 92);
}
.list .li-last {
	border-right: none;
}
.text {
	font-size: 20px;
	letter-spacing: 1px;
}
.text-1 {
	font-weight: 200;
	font-style: italic;
	width: 300px;
	margin: 50px auto;
}
.text-1 h2 {
	text-align: center;
}
.text-circle {
	margin: 20px 0px 0px 0px;
	overflow: hidden;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	text-shadow: 2px 3px 8px rgb(201, 154, 0);
}

.text-border {
	font-family: "Friz Quadrata";
	border-bottom: 2px dashed rgb(13, 192, 117);
	font-weight: 700;
	line-height: 1.5;
	outline: 3px solid red;
	border-radius: 5px;
}
.text-3 h2 {
	font-family: "Murecho";
	text-align: right;
}
.text-radius {
	font-family: "Murecho";
	max-height: 200px;
	overflow: auto;
	border: 3px solid #000;
	border-radius: 10px 50px;
	padding: 5px 0px 0px 20px;
	margin: 10px 0px 0px 63%;
	color: rgb(63, 63, 47);
	box-shadow: inset 5px 5px 5px 10px rgba(34, 119, 38, 0.486), inset 5px 5px 5px 100px rgba(195, 248, 3, 0.404),
		5px 5px 5px 10px rgba(34, 119, 38, 0.486);
}
.text-4 {
	text-align: center;
}
.text-hidden {
	visibility: hidden;
}
.text-5 {
	font-family: "Murecho";
	font-style: italic;
}
.text-opacity-7 {
	opacity: 0;
}
.text-opacity-1 {
	opacity: 0.1;
}
.text-opacity-2 {
	opacity: 0.2;
}
.text-opacity-3 {
	opacity: 0.4;
}
.text-opacity-4 {
	opacity: 0.5;
}
.text-opacity-5 {
	opacity: 0.6;
	text-decoration: underline;
}
.text-opacity-6 {
	opacity: 0.8;
	text-decoration: line-through;
}

.text-6 {
	text-align: right;
}
.text-display {
	display: none;
}
footer {
	display: inline-block;
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
}
.bottom {
	display: block;
	height: 60px;
	border-radius: 10px;
	text-align: center;
	padding: 5px 0px 0px 0px;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.562), inset 2px 2px 10px 2px rgba(0, 0, 0, 0.562);
	padding: 5px 15px;
	margin: 0px 0px 15px 0px;
	color: rgba(121, 168, 26, 0.185);
}
.bottoms {
	margin: 80px 0px 50px 0px;
}

@font-face {
	font-family: "Circular Std";
	src: url(../fonts/CircularStd-Book.woff) format("woff"), url(../fonts/CircularStd-Book.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Circular Std";
	src: url(../fonts/CircularStd-Bold.woff) format("woff"), url(../fonts/CircularStd-Bold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
.wrapper-2 {
	width: 1025px;
	margin: 0px auto;
	font-family: "Circular Std";
}
.title {
	margin: 140px 0px 0px 0px;
}
.title h1 {
	font-size: 65px;
	line-height: 82px;
	text-align: center;
}
.title-text {
	color: #5f5f5f;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	width: 750px;
	height: 50px;
	margin: 20px 0px 0px 140px;
}
.about {
	width: 508px;
	height: 380px;
	margin: 224px 0px 0px 0px;
}
.about-title {
	font-weight: bold;
	font-size: 34px;
	line-height: 130%;
	color: #313131;
	opacity: 0.88;
}
.about-text {
	margin: 20px 0px 0px 0px;
	font-size: 18px;
	line-height: 28px;
	color: #5f5f5f;
}
.about-name {
	margin: 125px 0px 0px 0px;
	font-size: 18px;
}
.about-name-name {
	font-weight: bold;
	line-height: 1.3;
	color: #313131;
	opacity: 0.88;
}
.about-name-position {
	display: block;
	line-height: 1.277;
	color: #b8b8b8;
	margin: 5px 0px 0px 0px;
}
.man {
	margin: 67px 0px 140px 0px;
	width: 468px;
	height: 675px;
	display: block;
}
